/fish/fish_variables
/fish/completions
/fish/functions/work
/fish/work.fish
/kak/autoload/system
/kak/colors
/kak/plugins
/vim/vjp
/vim/temp
/vim/undo
/vim/plugin/work.vim
/vim/pack/work
/vim/pack/remote
/qmk/passphrase.patch
